# Dependencies
node_modules
apps/*/node_modules
packages/*/node_modules

# Build artifacts
dist
**/.next
.turbo
*.tsbuildinfo

# Environment & local configs
.env
.env.*
!.env.example

# Misc
*.log
.DS_Store
temp
